:root {
    --highlight-color: #b8860b;
    --highlight-color12: #b8860b1f;
    --highlight-color30: #b8860b4d;
}

.gb_Ld header,
.gb_Rd,
.gb_2d,
.gb_Qd,
.ggt41e,
.VdLOD,
.yUoCvf,
.JxfZTd,
.SL65ee,
.fXx9Lc,
.VfPpkd-cnG4Wd,
.Qcuypc {
    background-color: #202124 !important;
}
h1{
    color: white !important;
}
.Qcuypc ,
.uTbUHc,
.qNakOe,
.VfPpkd-cnG4Wd,
.VfPpkd-StrnGf-rymPhb,
.DMZ54e,
.VfPpkd-k2Wrsb,
.qNakOe *,
.XXAvZe{
    color: white;
}

.Ikd8W .dbgxwe .n1etMc .gMPiLc *,.VfPpkd-k2Wrsb {
    background-color: #202124 !important;
    color: white;
}
.LjDxcd:hover:not(:disabled), .LjDxcd.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe:not(:disabled), .LjDxcd:not(.VfPpkd-ksKsZd-mWPk3d):focus:not(:disabled), .LjDxcd:active:not(:disabled) {
    color: antiquewhite;
    /* color: var(--gm-neutraltextbutton-ink-color--stateful,#202124); */
}